.container {
    margin: auto;
    width: 70%;
}

.blog-section {
    overflow: hidden;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
    padding: 30px 0 0 0;
}

.post-header {
    width: 100px;
    height: 100px;
    background-color: pink;
}

.fp-tablecell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1
}

#blog-section1 {
    height: 400px;
    padding: 0;
    background-color: #151515;
    background-image: url(../../../static/blog/image/bgc.jpg);
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat
}

#blog-section1,
#blog-section2 {
    background-size: cover
}
/*第一屏 开始*/

.page1 .nav {
    text-align: center;
    color: #FFF
}

.page1 p {
    letter-spacing: 5px;
    margin: 20px 0
}
.page1 span{
    font-size: 19px;
    display: block;
    margin: 20px;
}
.page1 .blog-views{
    display: inline-block;
}
/*第二屏 开始*/

.page2{
    width: 90%;
    position: relative;
    margin: 0 auto;
    padding-top: .1px;
    font-family: "Microsoft YaHei"
}

.warp-box {
    width: 100%;
    height: 100%;
    position: relative
}

.article {
    margin: 0 auto;
    width: 60%;
}

.warp {
    display: table;
    margin: 0 auto;
    height: 100%;
    position: relative
}

.page2 .single-news {
    /* margin-top: 50px; */
    background: #faf9f9;
    border-radius: 7px
}

.page2 .single-news:hover .news-head img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2)
}

.page2 .single-news:hover .news-head:before {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0)
}

.page2 .single-news:hover .link {
    top: 50%;
    opacity: 1;
    visibility: visible
}

.page2 .news-head {
    position: relative;
    overflow: hidden;
}

.page2 .news-head::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .51);
    content: "";
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 8
}

.page2 .news-head img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 7px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.page2 .link {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: #333;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    left: 50%;
    margin: -20px 0 0 -20px;
    line-height: 40px;
    z-index: 9;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.page2 .news-content {
    padding: 30px 15px
}

.page2 .news-content h4 {
    margin-bottom: 10px
}

.page2 .news-content .date {
    color: #bbb;
    font-size: 12px;
    margin-bottom: 15px
}

.page2 .news-content p {
    color: #999;
    height: 55px;
    overflow: hidden
}

.page2 .news-content .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 0;
    background: 0 0;
    border: none;
    color: #29B6F6;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.page2 .news-content .btn:hover {
    color: #333
}

.page2 .new-article {
    text-align: left;
    padding: 20px 0 20px 10px;
}

.page2 .inner {
    display: inline-block;
    vertical-align: middle
}

.page2 .new-article h1 {
    font-size: 32px;
    /* padding-bottom: 30px; */
    position: relative;
    font-weight: 500
}

.page2 .new-article p {
    margin-top: 20px;
    line-height: 22px;
    color: #888
}

.blog-article {
    border-top: 1px solid #e6e6e670;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: 0;
    display: inline-block;
}

.blog-article-img {
    position: relative;
    margin-right: 20px;
    flex-shrink: 0;
    height: 130px;
    width: 130px;
    overflow: hidden;
    float: left;
    border: 1px solid #eae8e842;
    background-color: #eae8e842;
}

.blog-article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

/*#test-editormd{
    height: 100%;
    overflow: hidden;
}*/
.blog-rights {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-family: 微软雅黑;
    font-size: 12px;
}

.blog-rights p {
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
    color: #9199a1;
    line-height: 18px;
    display: inline-block;
}

